*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/ISRPO
/Projects_UP
/QT_RPM
/Robot_arm
/Python_codes/auth_data.py
/Study/Bootstrap4/conFusion/node_modules
/Study
c-lessons/cursovic/.vscode/settings.json
