<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
  <div fxFlex="100" *ngIf="dish">
    <div fxLayout="column" fxLayout.gt-sm="row">
    <mat-card fxFlex="40" fxFlexOffset="10" *ngIf="dish">
    <div>
      <h3>{{dish.name | uppercase}}</h3>
      <hr>
    </div>
    <img mat-card-image src="{{ BaseURL + dish.image}}" alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
      <button mat-button (click)="goBack()">BACK</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
    </mat-card-actions>
    </mat-card>
<mat-card fxFlex="40" *ngIf="dish">
<mat-card-title><h3>Comments</h3></mat-card-title>
<mat-card-content >
  <div fxLayout="column">
<mat-list>
<mat-list-item *ngFor="let comment of dish.comments" id="comments">
  <p matLine>{{comment.comment}}</p>
  <p matLine>{{comment.rating}} stars</p>
  <p matLine>-- {{comment.author}} {{comment.date|date}}</p>
</mat-list-item>
<mat-list-item *ngIf="commentForm.value.comment!='' && commentForm.value.author!=''">
  <p matLine>{{commentForm.value.comment}}</p>
  <p matLine>{{commentForm.value.rating}} stars</p>
  <p matLine>-- {{commentForm.value.author}}</p>  
</mat-list-item >
</mat-list>
<div fxFlex class="form-size">
<form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field class="full-width">
      <input matInput formControlName="author" placeholder="Name" type="text" required>
      <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-slider  min="1" max="5" step="1" formControlName="rating" value="5" tickInterval="1" thumbLabel></mat-slider>
  </p>
  <p>
    <mat-form-field class="full-width">
      <textarea matInput rows="12" formControlName="comment" placeholder="Your comment" type="text" required></textarea>
      <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
    </mat-form-field>
  </p>
  <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
</form>
</div>
</div>
  </mat-card-content>
</mat-card>
</div>

</div>
<div [hidden]="dish" >
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
